<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>guardarReporte</servlet-name>
        <servlet-class>servlets.guardarReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarUsuario</servlet-name>
        <servlet-class>servlets.guardarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciarSesion</servlet-name>
        <servlet-class>servlets.iniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>servlets.cerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarUsuario</servlet-name>
        <servlet-class>servlets.editarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarUsuarios</servlet-name>
        <servlet-class>servlets.guardarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarReporte</servlet-name>
        <servlet-class>servlets.editarReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarUsuariosAdmin</servlet-name>
        <servlet-class>servlets.editarUsuariosAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarUsuario</servlet-name>
        <servlet-class>servlets.eliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarMaquina</servlet-name>
        <servlet-class>servlets.guardarMaquina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarMaquina</servlet-name>
        <servlet-class>servlets.eliminarMaquina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarMarca</servlet-name>
        <servlet-class>servlets.guardarMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarCPU</servlet-name>
        <servlet-class>servlets.guardarCPU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarAccesorio</servlet-name>
        <servlet-class>servlets.guardarAccesorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarMonitor</servlet-name>
        <servlet-class>servlets.guardarMonitor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarConfig</servlet-name>
        <servlet-class>servlets.guardarConfig</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>guardarReporte</servlet-name>
        <url-pattern>/guardarReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarUsuario</servlet-name>
        <url-pattern>/guardarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciarSesion</servlet-name>
        <url-pattern>/iniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarUsuario</servlet-name>
        <url-pattern>/editarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarUsuarios</servlet-name>
        <url-pattern>/guardarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarReporte</servlet-name>
        <url-pattern>/editarReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarUsuariosAdmin</servlet-name>
        <url-pattern>/editarUsuariosAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarUsuario</servlet-name>
        <url-pattern>/eliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarMaquina</servlet-name>
        <url-pattern>/guardarMaquina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarMaquina</servlet-name>
        <url-pattern>/eliminarMaquina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarMarca</servlet-name>
        <url-pattern>/guardarMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarCPU</servlet-name>
        <url-pattern>/guardarCPU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarAccesorio</servlet-name>
        <url-pattern>/guardarAccesorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarMonitor</servlet-name>
        <url-pattern>/guardarMonitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardarConfig</servlet-name>
        <url-pattern>/guardarConfig</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
